*{
   margin: 0;
   padding: 0;
}
h1{
   text-align: center;
   padding: 20px;
}
.simple{
    background: #2B85AF;
    width: 500px;
    margin: 0px 0px 0px 430px;
    color: white;
    font-size: 18px;
    padding: 50px;
    border-radius: 10px;
	}
name{
	margin: 16px;
    padding: 4px;
    border: none;
    border-radius: 3px
}
password{
	    margin: 16px;
        padding: 4px;
		border: none;
		border-radius: 3px
}